/* RESET*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

img {
    width: 100%;
}
/*TITLE*/
h1{
    font-family:"Fredoka", sans-serif; 
    color: rgb(204, 50, 127);
}


.stylecard{
    background-color: black;
    color: white;
}